<header class="rbt-header rbt-header-10">
    <div class="rbt-sticky-placeholder"></div>
    <div class="rbt-header-wrapper header-space-betwween header-transparent header-sticky">
        <div class="container-fluid">
            <div class="mainbar-row rbt-navigation-start align-items-center">
                <div class="header-left rbt-header-content">
                    <div class="header-info">
                        <div class="logo">
                            <a href="/">
                                <img src="/assets/images/logo/logo.png" alt="Education Logo Images">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="rbt-main-navigation d-none d-xl-block">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="with-megamenu has-menu-child-item position-static">
                                <a href="/hakkimizda">Hakkımızda <i class="feather-chevron"></i></a>
                            </li>
                            <li class="with-megamenu has-menu-child-item position-static">
                                <a href="/blog">Blog <i class="feather-chevron"></i></a>
                            </li>
                            <li class="with-megamenu has-menu-child-item position-static">
                                <a href="/iletisim">İletişim <i class="feather-chevron"></i></a>
                            </li>
                            <li class="with-megamenu has-menu-child-item position-static">
                                <a href="/course">Kurs <i class="feather-chevron"></i></a>
                            </li>
                            <li class="with-megamenu has-menu-child-item position-static">
                                <a href="/faq">Faq <i class="feather-chevron"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    <div class="rbt-btn-wrapper d-none d-xl-block">
                        <a class="rbt-btn rbt-marquee-btn marquee-auto btn-border-gradient radius-round btn-sm hover-transform-none" href="https://themeforest.net/checkout/from_item/42846507?license=regular">
                            <span data-text="Purchase Now">Purchase Now</span>
                        </a>
                    </div>
                    <!-- Start Mobile-Menu-Bar -->
                    <div class="mobile-menu-bar d-block d-xl-none">
                        <div class="hamberger">
                            <button class="hamberger-button rbt-round-btn">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Start Mobile-Menu-Bar -->
                </div>
            </div>
        </div>
    </div>
</header>