<div class="slider-area rbt-banner-10 height-750 bg_image bg_image--11" style="background-image: url(<%= bannerArena.content.image %>);" data-black-overlay="5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner text-center">
                    <div class="section-title mb--20">
                        <span class="subtitle bg-coral-opacity"><%- bannerArena.content.title %></span>
                    </div>
                    <h1 class="title display-one text-white"><%- bannerArena.content.short_description %></h1>
                    <div class="read-more-btn mt--40">
                        <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                            <span class="icon-reverse-wrapper">
                                <span class="btn-text"><%= bannerArena.content.buttonText %></span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>