<div class="rbt-splash-testimonial-area bg-colror-white overflow-hidden position-relative">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <span class="subtitle bg-primary-opacity">A FEW WORDS FROM OUR CLIENTS</span>
                        <h2 class="title">What People Are <br> Saying About
                            <span class="header-caption">
                                <span class="cd-headline zoom">
                                    <span class="cd-words-wrapper">
                                        <b class="is-visible theme-gradient">Rainbow Themes.</b>
                                        <b class="is-hidden theme-gradient">HiStudy Template.</b>
                                    </span>
                            </span>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="splash-testimonial-all-wrapper pb--60">

        <div class="scroll-animation-wrapper no-overlay mt--50">
            <div class="scroll-animation scroll-right-left">

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="description">
                                <p class="subtitle-3"><strong>Beautiful theme!</strong> (Of course, that’s why I got it). But most
                                    importantly, thank you for the quick responses from your customer support. I was
                                    finding it hard to install and customise the demo but he guided</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">teechelle</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3"><strong>The design Quality is perfect!</strong> Customer Support is the best so
                                    far. Thank you!</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">3anbo3d</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">The theme itself suits my needs, but the support is the superstar
                                    that earns this theme and the team behind <strong>it a 5 stars rating</strong>. Kudos!</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">arikurnia1</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">I needed support on a issue to install the theme demo, the CS team is super efficient, they <strong>fixed the issue in few hours.</strong> Thank you!</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">stephanieprugne</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3"><strong>Awesome Customer support.</strong> Fixed issues in less than 24 Hours. Very professional and prompt.</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">taggrwal</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">These guys are the REAL deal. Fantastic website and even <strong>better customer support</strong>. Highly recommend and will work with them again.</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">phil148</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">The theme itself suits my needs, but the support is the superstar that earns this theme and the team behind it a <strong>5 stars rating</strong>. Kudos!</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">arikurnia1</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">I can only <strong>recommend the theme!</strong> Very nice design, good adjustment options.The support is very friendly and incredibly helpful. Thanks!</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">timofk</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">The theme is awesome,and the support it's just fantastic, solved my problems in few hours.5 stars are not enough</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">alesmp82</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
            </div>
        </div>

        <div class="scroll-animation-wrapper no-overlay mt--30">
            <div class="scroll-animation scroll-left-right">

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">They assist me very well and did everything I asked !
                                    Quick answer to <strong>So yes I recommand :)</strong></p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">saverysyoann</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">I have zero experience with web design and found this template super easy to use. Very helpful support team too.</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">thomasmcbrien00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">they was so kindly and replay so fast and they fixed all what i want, thank you so much !</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">ordersgate</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3"><strong>Responsive and competent support.</strong> They perfectly answer the questions of use and the various problems that one can have. A big thank-you !</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">couletcorentin</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">They are really amazing, the customization is really dope, and Support is really awesome</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">rohithaditya</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">One of the best support and clean code on codecanyon! <strong>Highly recommended!</strong></p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">neosofts</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">I have never seen support as fast and efficient as this one.
                                    I can't say anything about the theme yet since I just started building the site, but with this kind of support, <strong>I am confident it will be awesome</strong>.</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">desdizajn</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">The customer support for this theme is top notch. They have been on the ball answering my questions, especially when it came to fixing bugs I was experiencing.</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">nyyankster71</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Very Beautiful theme and great support team and fast response from author team.</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">pranavkumbhare</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
            </div>
        </div>

        <div class="scroll-animation-wrapper no-overlay mt--50">
            <div class="scroll-animation scroll-right-left">

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Beautiful theme! (Of course, that’s why I got it). But most
                                    importantly, thank you for the quick responses from your customer support. I was
                                    finding it hard to install and customise the demo but he guided</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">teechelle</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">The design Quality is perfect! Customer Support is the best so
                                    far.
                                    Thank you!</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">3anbo3d</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">The theme itself suits my needs, but the support is the superstar
                                    that earns this theme and the team behind it a 5 stars rating. Kudos!</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">arikurnia1</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">A really great theme and a great design at a low price. <strong>All in all Excellent</strong>. Best. Best wishes for rainbow team.</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">gorillacomputer1</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3"><strong>Great support,</strong> we have an issue with the theme and they solve it in the same day!! Thanks so much!!</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">granviamarketing</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">This theme is beautiful, well crafted elements and the support is top notch! This team deserve everything! <strong>I recommend this 100%.</strong></p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">dasantos97</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">The theme is <strong>great and the support is even better</strong>. They helped my with installation and everything.
                                    Thank you!</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">hudecvfx</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">It is a very minimal beautiful theme. I really like these types of themes. <strong>They are also very good at support</strong>. They answered almost all my questions :)</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">mrtyildiz</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="/assets/images/splash/icons/rating.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Just downloaded the theme. never used it yet but I'm sure that it's amazing because the HTML version was mind blowing so the WordPress is <strong>gonna be mind-blowing too :)</strong></p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="/assets/images/splash/icons/envato.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">ranawebdesign</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
            </div>
        </div>
        <div class="read-more-review">
            <div class="section-title text-center mb--30">
                <h5 class="title color-white">Our Fantastic <br> Envato Customers Reviews</h5>
            </div>
            <a class="rbt-btn btn-gradient hover-icon-reverse  btn-xxl" href="#">
                <span class="icon-reverse-wrapper">
                    <span class="btn-text"> ⭐ Read More Review</span>
                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                </span>
            </a>
            <div class="section-title text-center mt--20">
                <h5 class="title rbt-title-style-2 color-white">4.85 average <br> based on <strong class="color-white">300+</strong> ratings.</h5>
            </div>
        </div>
    </div>

    <div class="line-shape text-center">
        <img src="/assets/images/splash/icons/line-shape.png" alt="Shape">
    </div>
</div>