.closingLoadingScreen {
  opacity: 0;
  transition: 3s ease-in-out;
}

.closingScreenSpinner {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  border-radius: 100px;
  position: absolute;

  border: 3px solid #24324a;
  border-top: 0;
  border-left: 0;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loadingScreenSping {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}
